<%- include('../partials/header.ejs') %> 

<title>LIST EDIT</title>

<%- include('../partials/form1header.ejs') %>

<h3 class="display-4"><%= list.name %></h3>

<form 
action="/lists/<%= list.id %>?_method=PUT" 
method="POST"
class="lead form-margin">
    <fieldset class="my-4">
        name:
        <input 
        type="text"
        name="name" 
        class="form-control"
        value="<%= list.name %>">
    </fieldset>
    <fieldset class="my-4">
        submitted by:
        <input 
        type="text"
        name="submittedBy"
        class="form-control" 
        value="<%= list.submittedBy %>">
    </fieldset>
        <input 
        type="submit" 
        value="update list"
        class="form-control btn btn-dark btn-l">
</form>

<%- include('../partials/footer.ejs') %> 