<%- include('../partials/header.ejs') %> 
    <h1>movies-show!</h1>
    <h2><%= movie.title %></h2>
    <table>
        <tr>
            <th>genre:</th>
            <th>yearMade:</th>
            <th>director:</th>
            <th>tags:</th>
            <th>submittedBy:</th>
            <th>rating:</th>
        </tr>
        <tr>
            <td><%=movie.genre%></td>
            <td><%=movie.yearMade%></td>
            <td><%=movie.director%></td>
            <td><%=movie.tags%></td>
            <td><%=movie.submittedBy%></td>
            <td><%=movie.rating%></td>
        <td>
            <a href="/movies/<%= movie.id %>/edit">[edit]</a>
            <form action="/lists" method="POST">
            <input type="submit" value="add to list">
            </form>
        </td>
        </tr>
    </table>
<%- include('../partials/footer.ejs') %>   