<%- include('../partials/header.ejs') %> 

<title>all movies</title>

<h1>movies</h1>

<table>
<% for (let i = 0; i < movies.length; i++) { %>
    <tr>
        <th>title:</th>
        <th>genre:</th>
        <th>submittedBy:</th>
        <th>yearMade:</th>
        <th>director:</th>
        <th>tags:</th>
        <th>rating:</th>
        <th>edit:</th>
        <th>add to list:</th>
        <th>delete:</th>
    </tr>
    <tr>
        <td> <a href="/movies/<%= movies[i].id%>"><%=movies[i].title%></a></td>
        <td><%=movies[i].genre%></td>
        <td><%=movies[i].submittedBy%></td>
        <td><%=movies[i].yearMade%></td>
        <td><%=movies[i].director%></td>
        <td><%=movies[i].tags%></td>
        <td><%=movies[i].rating%></td>
        <td>
            <a href="/movies/<%= movies[i].id %>/edit">[edit]</a>
        </td>
        <td>  
            <form action="/lists/addtolist" method="POST">
                    <select name="listId">
                        <option value="1">select list</option>
                        <% for( let i = 0; i < lists.length; i++){ %> 
                            <option value="<%= lists[i].id%>">
                                <%= lists[i].name %> 
                            </option>
                            <% } %> 
                    </select>
                    <input type="hidden" value="<%= movies[i].id %>" name="movieId">
                    <input type="submit" value="add to list">
            </form>
        </td>
        <td>
            <form action="/movies/<%= movies[i].id%>?_method=DELETE" method="POST">
                <input type="submit" value="delete movie">
            </form>
        </td>
    </tr>
    <% } %>

</table>

<%- include('../partials/footer.ejs') %>    