<%- include('../partials/header.ejs') %> 

<title>create movie</title>

<%- include('../partials/form1header.ejs') %>

    <h2
    class="display-5"
    >create new movie</h2>

    <form 
    action="/movies" 
    method="POST" 
    class="lead form-margin">

        <% let h4Arr = ["title", "genre", "submittedBy", "yearMade", "director", "tags", "rating" ] %>
        
        <% for (let i = 0; i < h4Arr.length; i++) { %>

            <fieldset
            class="my-4">
                <label 
                for="<%= h4Arr[i] %>">
                <%= h4Arr[i] %>:</label> 
                <input 
                type="text" 
                name="<%= h4Arr[i] %>" class="form-control" id="<%= h4Arr[i] %>">
        </fieldset>

        <% } %>
        <div class="col-auto">
                <div 
                class="col-sm-10">
                    <input 
                    type="submit" value="create movie" class="btn btn-dark btn-lg">
                </div>
        </div>
    </form>
<%- include('../partials/form1footer.ejs') %>
<%- include('../partials/footer.ejs') %>   