<%- include('../partials/header.ejs') %> 

<title>all movies</title>

<h1>movies</h1>

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    sort
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="/movies?sort=asc">title:A-Z</a></li>
      <li><a class="dropdown-item" href="/movies?sort=desc">title:Z-A</a></li>
      <li><a class="dropdown-item" href="/movies?sort=genre">genre:A-Z</a></li>
      <li><a class="dropdown-item" href="/movies?sort=rating">by rating</a></li>
    </ul>
  </div>

    </ul>
  </div>

<table class="table table-dark table-hover table-bordered table-sm">
        <th >title</th>
        <th>genre</th>
        <th>add to list</th>
        <th>rating</th>
        <th>user</th>
        <th>year</th>
        <th>director</th>
        <th>tags</th>
        <th>edit</th>
    </tr>
    <% for (let i = 0; i < movies.length; i++) { %>
    <tr class="align-bottom">
        <td> <a href="/movies/<%= movies[i].id%>"><%=movies[i].title%></a></td>
        <td><%=movies[i].genre%></td>
        <td>  
            <form action="/lists/addtolist" method="POST">
                    <select name="listId" class="form-select form-select-sm">
                        <option value="1">select list</option>
                        <% for( let i = 0; i < lists.length; i++){ %> 
                            <option value="<%= lists[i].id%>">
                                <%= lists[i].name %> 
                            </option>
                            <% } %> 
                    </select>
                    <input type="hidden" value="<%= movies[i].id %>" name="movieId">
                    <input type="submit" value="add to list" class="btn btn-outline-secondary btn-sm">
            </form>
        </td>
        <td><%=movies[i].rating%></td>
        <td><%=movies[i].submittedBy%></td>
        <td><%=movies[i].yearMade%></td>
        <td><%=movies[i].director%></td>
        <td><%=movies[i].tags%></td>
        <td>
            <a href="/movies/<%= movies[i].id %>/edit"><button class="btn btn-outline-secondary">edit</button></a>
        </td>
    </tr>
    <% } %>

</table>

<%- include('../partials/footer.ejs') %>    